.selleradise_page_404 {
  @extend .flex-center;
  padding: 5rem $page-padding;
  min-height: var(--hero-height);

  &__message {
    @extend .flex-center;
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 10rem;
      margin: 0;
      text-align: center;
      line-height: 1;
    }

    p {
      @include font-size(h4);
      color: rgba(color(text-rgb), 0.7);
      margin: 0;
    }

    a {
      margin-top: 5rem;
    }
  }
}
