.selleradise-page--blog {
  .selleradise_page__title {
    margin: 2.5rem 0 0 0;
  }

  .archive-description {
    color: rgba(color(text-rgb), 0.7);
  }
}

.selleradise_blog__sidebar {
  @include font-size(p);
  align-self: stretch;
  padding: 2.5rem 0 0 2.5rem;
  margin-bottom: 2rem;

  a {
    text-decoration: underline;
  }

  aside {
    section {
      padding: 0 0 1rem;
      background-color: color(background);
      color: color(text);
      overflow-x: hidden;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      h1 {
        @include font-size(h3);
      }

      h2 {
        @include font-size(h4);
      }

      h1,
      h2 {
        margin: 1rem 0.5rem 0.5rem 0;
      }

      ul {
        @extend .inline-list;

        a {
          color: color(text);
          text-decoration: underline;
        }

        li:not(:last-child) {
          padding-bottom: 0.5rem;
        }

        > li {
          list-style: none;

          li {
            border-left: 0.05em solid rgba(color(text-rgb), 0.25);
            padding-left: 1rem;
          }
        }
      }

      @include device(mobileAndTablet) {
        padding: 0 0 1rem;
      }
    }

    .wp-block-search {
      @include font-size(p);

      &__input {
        border: 0.1em solid rgba(color(text-rgb), 0.1);
        border-right: none;
        border-radius: 0.75em 0 0 0.75em;
        box-shadow: none;
      }

      &__button {
        @extend .selleradise_button--secondary;
        border-radius: 0 0.75em 0.75em 0;
        margin-left: 0;
      }
    }

    ol.wp-block-latest-comments {
      padding-left: 0;

      a {
        color: color(text);
        font-weight: font("primary_bolder", "font-weight");

        &:hover {
          color: color(main);
        }
      }
    }

    .wp-block-tag-cloud {
      @extend .flex-start;
      align-items: flex-start;

      > .tag-cloud-link {
        @extend .selleradise_chip--base;
        margin: 0 0.75em 0.75em 0;
        background-color: transparent;
        border: 0.05em solid rgba(color(text-rgb), 0.1);
        border-radius: 2em;
        font-weight: 400;
      }
    }

    .wp-block-latest-posts {
      &__list {
        a {
          @include font-size(p);
          color: color(text);
          width: 100%;
          font-weight: font("primary_boldest", "font-weight");

          &:hover {
            color: color(main);
          }
        }

        li {
        }

        > * {
          margin-bottom: 0.5rem;
        }
      }

      &__post-author {
      }

      &__featured-image {
        @extend .selleradise-background-image;
        width: 100%;
        height: 15rem;
        border-radius: 0.5em;
        margin: 0 0 1rem 0;
      }
    }
  }

  @include device(mobileAndTablet) {
    width: 100%;
    padding: 0;
    margin-top: 2rem;
  }
}
