$page-padding: 5vw;

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import "base/index";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "components/header";
@import "components/menu";
@import "components/footer";
@import "components/product-cards";
@import "components/post-cards";
@import "components/mini-cart";
@import "components/comments";

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
@import "pages/cart";
@import "pages/product";
@import "pages/shop";
@import "pages/account";
@import "pages/checkout";
@import "pages/blog";
@import "pages/post";
@import "pages/nothing";
@import "pages/search";
@import "pages/yith-wishlist";

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
@import "plugins/woocommerce";
@import "plugins/breadcrumb-trail";
@import "plugins/elementor";
@import "plugins/photoswipe";
@import "plugins/crb-related-widget";
@import "plugins/variation-swatches";
@import "plugins/fibosearch";
