.selleradise_shop {
  &__filters {
    @extend .selleradise-hide-scrollbar;
    position: relative;
    padding: 2.5rem 0 1rem 2.5rem;
    margin: 0;
    min-height: 90vh;
    border-radius: var(--border-radius-half);
    align-self: stretch;

    @include device(desktop) {
      &[data-selleradise-sidebar-type="sidebar"] {
        grid-column: -2 / -1;
      }

      &[data-selleradise-sidebar-type="sidebar-left"] {
        padding: 2.5rem 2.5rem 1rem 0;
        grid-column: 1 / 2;
      }
    }

    &-title {
      @include font-size(h5);
      width: 100%;
      margin: 0 0 1rem 0;

      > span {
        @include font-size(small);
        font-weight: 400;
        display: block;
        width: 100%;
        color: rgba(color(text-rgb), 0.7);
      }
    }

    &-actions {
      @extend .flex-between;
      padding: 0 0 2.5rem 0;
    }

    &-action {
      &-apply {
        @extend .selleradise_button--primary;
      }

      &-clear {
        @extend .flex-start;
        @include focus-outline;
        margin-left: auto;
        font-size: 1rem;
        font-weight: font("primary_boldest", "font-weight");
        color: color(text);

        svg {
          width: 1em;
          height: 1em;
          margin-right: 0.5em;
        }
      }
    }

    .categories,
    .tags,
    .attributes {
      @extend .flex-start;
      padding: 1rem 0;

      .inputWrap {
        @extend .flex-start;
        border: 0.1em solid rgba(color(text-rgb), 0.1);
        margin: 0.5rem 0.5rem 0.5rem 0;
        padding: 0 1em 0 0;
        border-radius: 5em;
        transition: border-color, transform $time easing(out-expo);

        input {
          @include focus-outline;
          box-shadow: none;
        }

        label {
          @include font-size(small);
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          font-weight: font("primary_boldest", "font-weight");
          transition: all 400ms easing(out-expo);
          align-self: stretch;
          color: rgba(color(text-rgb), 0.7);
          padding: 0;

          .count {
            font-weight: 400;
            margin-left: 0.5em;
          }
        }

        input[type="checkbox"] {
          @extend .flex-center;
          cursor: pointer;
          -webkit-appearance: none;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 1.5rem;
          margin: 0.5em;
          border: none;
          transition: all $time easing(out-expo);
          color: color(background);
          background-color: rgba(color(text-rgb), 0.05);

          &:checked,
          &[selected] {
            @extend .icon-selleradise-check-bold;
            display: flex;
            background-color: color(text);

            & ~ label,
            & + label {
              color: color(text);
            }
          }

          &:focus {
            box-shadow: none;
          }
        }

        &--color {
          input[type="checkbox"] {
            background-color: var(--swatch-color);
            &:checked,
            &[selected] {
              background-color: var(--swatch-color);
            }
          }
        }

        &.highlight {
          border-color: rgba(color(text-rgb), 0.5);
        }

        &:hover {
          border-color: rgba(color(text-rgb), 0.3);
        }
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    &-categories {
      &-input {
        &-move,
        &-enter-active,
        &-leave-active {
          transition: all 400ms easing(out-expo);
          transform-origin: center;
        }

        &-enter-from,
        &-leave-to {
          transform: scale(0.9);
        }
      }
    }

    .tags {
      padding-bottom: 2.5rem;
    }

    &-price {
      padding: 0 0 2rem 0;

      &-head {
        @extend .flex-between;
        margin-bottom: 1rem;
        > h3 {
          width: auto;
          margin: 0;
        }
      }

      &-values {
        @extend .flex-start;
        text-transform: uppercase;

        &-divider {
          width: 0.5rem;
          height: 0.1rem;
          border-radius: 0.2rem;
          margin: 0 0.5rem;
          background-color: color(text);
        }

        span {
          @include font-size(p);
          font-weight: font("primary_boldest", "font-weight");
        }
      }
    }
    .noUi-target {
      background-color: rgba(color(text-rgb), 0.05);
      border: none;
      box-shadow: none;
      height: 0.2rem;
      margin: 2.5rem auto 1rem auto;
      position: relative;
      cursor: pointer;

      .noUi-handle {
        @include focus-outline;
        background-color: color(background);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        box-shadow: none;
        border: 0.2em solid color(main);
        bottom: 0.75rem;
        right: -0.5rem;
        margin-right: -0.25rem;
        top: 50%;
        margin-top: -0.75rem;
        cursor: ew-resize;
        outline: none;

        .noUi-tooltip {
          @include font-size(small);
          border-radius: var(--border-radius-half);
          background-color: color(background);
          border: 0.1em solid rgba(color(text-rgb), 0.05);
          color: color(text);
          padding: 0.25rem 0.5rem;
          font-weight: bold;
          opacity: 0;
          transition: all 300ms easing(out-expo);
        }

        &::before,
        &::after {
          content: none;
        }

        &:hover,
        &:focus {
          .noUi-tooltip {
            opacity: 1;
          }
        }
      }

      .noUi-connect {
        background-color: color(main);
      }
    }

    .button--showAll {
      @include font-size(small);
      @include focus-outline;
      text-align: left;
      display: block;
      background-color: transparent;
      font-weight: font("primary_boldest", "font-weight");
      color: color(main);
      border: none;
      outline: none;
      margin-top: 1rem;
      width: 100%;
      transition: all 400ms easing(out-expo);
    }

    &-enter-active,
    &-leave-active {
      transition: transform 400ms easing(out-expo), opacity 200ms ease-out;
    }

    &-enter-from,
    &-leave-to {
      opacity: 0;
      transform: translate(5rem, 0);
    }

    &--offscreen {
      position: fixed;
      right: 0;
      top: 0;
      background-color: color(background);
      z-index: 1500;
      padding: 2.5rem;
      width: 28rem;
      height: 100vh;
      max-width: 90vw;
      overflow-y: scroll;
      border-radius: 0;
    }

    @include device(mobileAndTablet) {
      padding-bottom: 10rem;
    }
  }
}
