.chip--base {
  @include font-size(small);
  font-weight: font("primary_boldest", "font-weight");
  padding: 0.5em 1em;
  background-color: rgba(color(text-rgb), 0.05);
  border-radius: 2em;
  outline: none;
  transition: all $time easing(out-expo);
  color: rgba(color(text-rgb), 0.7);

  &:hover,
  &:focus,
  &:active {
    color: color(text);
    background-color: transparent;
    box-shadow: inset 0 0 0 0.1em rgba(color(text-rgb), 0.5);
  }
}
