.#{$global-prefix}_pagination {
  @extend .flex-start;

  ul {
    @extend .flex-start;
    border-radius: 5em;
    border: 0.1em solid rgba(color(text-rgb), 0.1);
    padding: 0.25rem;

    li {
      border: none;
      overflow: hidden;

      span.current,
      a {
        @include font-size(p);
        @extend .flex-center;
        font-weight: font("primary_bolder", "font-weight");
        padding: 0.5em 1.4em;
        border-radius: var(--border-radius-base);
        outline: none;
        line-height: inherit;

        svg {
          width: 1em;
          height: 1em;
        }

        @include device(mobile) {
          @include font-size(small);
        }
      }

      .current {
        background-color: color(text);
        color: color(background);
        position: relative;
      }

      a {
        color: color(text);

        &:hover,
        &:focus {
          background-color: rgba(color(text-rgb), 0.05);
        }
      }
    }

    @include device(mobile) {
      justify-content: center;
    }
  }

  @include device(mobile) {
    justify-content: center;
  }
}
