$time: 400ms;
$time_slower: 500ms;
$time_normal: 500ms;
$time_slow: 800ms;
$ease: ease;
$transition-default: all $time $ease;

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@function easing($key) {
  @if map-has-key($easing, $key) {
    @return map-get($easing, $key);
  }

  @warn "Unkown '#{$key}' in $easing.";
  @return null;
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: "";

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }

  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@mixin transition($val...) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -ms-transition: $val;
  -o-transition: $val;
  transition: $val;
}

@mixin transition-delay($val) {
  -webkit-transition-delay: $val;
  -moz-transition-delay: $val;
  -ms-transition-delay: $val;
  -o-transition-delay: $val;
  transition-delay: $val;
}

@mixin transform($val...) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  transform: $val;
}

@mixin transform-origin($val) {
  -webkit-transform-origin: $val;
  -moz-transform-origin: $val;
  -ms-transform-origin: $val;
  -o-transform-origin: $val;
  transform-origin: $val;
}

/*
===================
Easing
===================
*/

$easing: (
  "in-quad": cubic-bezier(0.55, 0.085, 0.68, 0.53),
  "in-cubic": cubic-bezier(0.55, 0.055, 0.675, 0.19),
  "in-quart": cubic-bezier(0.895, 0.03, 0.685, 0.22),
  "in-quint": cubic-bezier(0.755, 0.05, 0.855, 0.06),
  "in-sine": cubic-bezier(0.47, 0, 0.745, 0.715),
  "in-expo": cubic-bezier(0.95, 0.05, 0.795, 0.035),
  "in-circ": cubic-bezier(0.6, 0.04, 0.98, 0.335),
  "in-back": cubic-bezier(0.6, -0.28, 0.735, 0.045),
  "out-quad": cubic-bezier(0.25, 0.46, 0.45, 0.94),
  "out-cubic": cubic-bezier(0.215, 0.61, 0.355, 1),
  "out-quart": cubic-bezier(0.165, 0.84, 0.44, 1),
  "out-quint": cubic-bezier(0.23, 1, 0.32, 1),
  "out-sine": cubic-bezier(0.39, 0.575, 0.565, 1),
  "out-expo": cubic-bezier(0.19, 1, 0.22, 1),
  "out-circ": cubic-bezier(0.075, 0.82, 0.165, 1),
  "out-back": cubic-bezier(0.175, 0.885, 0.32, 1.275),
  "in-out-quad": cubic-bezier(0.455, 0.03, 0.515, 0.955),
  "in-out-cubic": cubic-bezier(0.645, 0.045, 0.355, 1),
  "in-out-quart": cubic-bezier(0.77, 0, 0.175, 1),
  "in-out-quint": cubic-bezier(0.86, 0, 0.07, 1),
  "in-out-sine": cubic-bezier(0.445, 0.05, 0.55, 0.95),
  "in-out-expo": cubic-bezier(1, 0, 0, 1),
  "in-out-circ": cubic-bezier(0.785, 0.135, 0.15, 0.86),
  "in-out-back": cubic-bezier(0.68, -0.55, 0.265, 1.55),
);
