html {
  font-size: 16px;
}

// Mobile phones
@media (max-width: 767px) {
  html {
    font-size: 3.2vw;
  }
}

// Tablets
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 1.9vw;
  }
}

// Desktop
@media (min-width: 1025px) {
  html {
    font-size: 0.9375vw;
  }
}

body {
  font-size: 1rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
  -webkit-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
}

// Headings
$heading_tags: h1, h2, h3, h4, h5, h6;

@each $tag in $heading_tags {
  #{$tag} {
    @include font-size($tag);
  }
}

small {
  font-size: 0.8rem;
}

b,
strong {
  font-weight: font("primary_boldest", "font-weight");
}

// alignments
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

// Modifiers
.text-bold {
  font-weight: 700;
}

.text-semibold {
  font-weight: font("primary_boldest", "font-weight");
}

.text-uppercase {
  text-transform: uppercase;
}

.no-line-height {
  line-height: 1em !important;
}

.selleradise_prose {
  a {
    color: color(main);
    font-weight: 500;
    text-decoration: underline;
  }

  strong {
    font-weight: font("primary_boldest", "font-weight");
  }

  ol {
    @include font-size(h5);
    list-style-type: decimal;
    padding-left: 1.5em;

    &[type="A"] {
      list-style-type: upper-alpha;
    }

    &[type="a"] {
      list-style-type: lower-alpha;
    }

    &[type="a"] {
      list-style-type: lower-alpha;
    }

    &[type="I"] {
      list-style-type: upper-roman;
    }

    &[type="i"] {
      list-style-type: lower-roman;
    }

    &[type="1"] {
      list-style-type: decimal;
    }

    li {
      margin: 0.5em 0;
      padding-left: 0.4em;
    }

    & > li::marker {
      font-weight: 400;
      color: rgba(color(text-rgb), 0.25);
    }
  }

  ul {
    @include font-size(h5);
    list-style-type: disc;
    padding-left: 1.5em;

    li {
      margin: 0.5em 0;
      padding-left: 0.4em;
    }

    & > li::marker {
      font-weight: 400;
      color: rgba(color(text-rgb), 0.25);
      font-size: 1.25em;
    }
  }

  hr {
    border-color: rgba(color(text-rgb), 0.05);
    border-top-width: 0.1rem;
  }

  blockquote {
    font-weight: 500;
    font-style: italic;
    color: rgba(color(text-rgb), 0.7);
    quotes: '"' '"' "'" "'";
    border-left-color: rgba(color(text-rgb), 0.1);
    border-left-width: 0.25rem;
    border-left-style: solid;
    padding: 1rem 0 1rem 1.5rem;
    margin: 0;
    position: relative;

    cite {
      font-weight: font("primary_boldest", "font-weight");
      margin-top: 0.5rem;

      a {
        color: color(main);
      }
    }

    p:first-of-type::before {
      content: open-quote;
    }

    p:last-of-type::after {
      content: close-quote;
    }
  }

  code {
    color: rgba(color(text-rgb), 0.7);

    &::before {
      content: "`";
    }

    &::after {
      content: "`";
    }

    a & {
      color: color(main);
    }
  }

  pre {
    color: color(background);
    background-color: color(text);
    overflow-x: auto;
    padding: 2.5rem;

    code {
      background-color: transparent;
      border-width: 0;
      border-radius: 0;
      padding: 0;
      font-weight: inherit;
      font-size: inherit;
      font-family: inherit;

      &::before {
        content: none;
      }

      &::after {
        content: none;
      }
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;

    thead {
      border-bottom: 0.05em solid rgba(color(text-rgb), 0.1);
      text-indent: 0;

      th {
        color: color(text-rgb);
        vertical-align: bottom;
        font-weight: font("primary_boldest", "font-weight");
        padding-right: 0.6em;
        padding-bottom: 0.8em;
        padding-left: 0;
      }

      tr {
        border-bottom: 0.05em solid rgba(color(text-rgb), 0.1);

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 0.05em solid rgba(color(text-rgb), 0.1);

        &:last-child {
          border-bottom: 0;
        }
      }

      td {
        vertical-align: baseline;
        padding: 0.8em 0.6em;
        padding-left: 0;
      }
    }
  }

  dl {
    display: flex;
    flex-flow: row wrap;
    border: 0.1em solid rgba(color(text-rgb), 0.1);
    padding: 1rem 0 0 0;
  }

  dt {
    flex-basis: 20%;
    padding: 0 1rem 1rem 1rem;
    color: color(text);
    font-weight: font("primary_boldest", "font-weight");
  }

  dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 0 1rem 1rem 1rem;
  }
}
