.selleradise_postCard--default {
  --color-overlay: var(--light-theme_color-text-rgb);
  --color-text: var(--light-theme_color-background-rgb);
  height: auto;
  background-color: color(background);
  color: color(text);
  position: relative;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--border-radius-base);
  flex-basis: 32%;
  margin-bottom: 2.5rem;
  overflow: hidden;
  box-shadow: 0 0 0 0.05rem rgba(color(text-rgb), 0.1);
  padding: 0.75rem;
  $prefix: &;

  &.swiper-slide {
    flex-basis: auto;
  }

  a {
    outline: none;
    color: color(text);
  }

  &__image {
    @include focus-outline;
    @extend .selleradise-background-image;
    background-color: rgba(color(text-rgb), 0.05);
    width: 100%;
    height: 22rem;
    color: color(text);
    border-radius: var(--border-radius-base);

    img {
      transition: transform 800ms easing(out-expo),
        opacity 400ms easing(out-expo);
      opacity: 0;
      transform: scale(1.1);

      &.selleradise__image-loaded,
      &.loaded {
        opacity: 1;
        transform: scale(1);
      }
    }

    svg {
      width: 5rem;
      height: 5rem;
      margin: auto;
      fill: rgba(color(text-rgb), 0.5);
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__entry-title {
    @include font-size(h5);
    margin: 0;
    width: 100%;

    a {
      @include focus-outline;

      &:hover {
        color: color(main);
        text-decoration: underline;
        text-underline-offset: 0.2em;
      }
    }
  }

  &__content {
    padding: 2rem 1rem 1rem;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  &__categories {
    @extend .flex-start;
    @extend .inline-list;
    width: 100%;
    margin: 1rem 0 0 0;

    a {
      @extend .selleradise_chip--base;
      color: rgba(color(text-rgb), 0.7);
      margin: 0 0.25rem 0.5rem 0;

      &:hover,
      &:focus,
      &:active {
        background-color: color(background);
        color: color(text);
      }
    }
  }

  &__excerpt {
    @include font-size(small);
    font-weight: font("primary_bolder", "font-weight");
    margin: 1rem 0 2rem 0;
    color: rgba(color(text-rgb), 0.7);

    a {
      text-decoration: underline;
    }
  }

  .selleradise_postCard__author--minimal {
    width: 100%;
    padding-top: 1.5rem;
    margin-top: auto;
  }

  .selleradise-page--blog-has-sidebar & {
    flex-basis: 48%;

    @include device(mobile) {
      flex-basis: 100%;
    }
  }

  .blogPage--macy & {
    margin-bottom: 0;
  }

  @include device(tablet) {
    flex-basis: 48%;
  }

  @include device(mobile) {
    flex-basis: 100%;
  }

  &.selleradise_adaptive_colors {
    background-color: rgba(color(palette-dominant), 1);
    padding: 1rem;
    box-shadow: none;

    &,
    a,
    #{$prefix}__excerpt {
      color: rgba(color(palette-dominant-text), 1);
    }

    #{$prefix}__content {
      padding: 2.5rem 1rem 1rem;
    }

    #{$prefix}__image {
      border-radius: var(--border-radius-base);
    }

    #{$prefix}__entry-title a {
      color: rgba(color(palette-dominant-text), 1);
    }

    #{$prefix}__categories a {
      background-color: rgba(color(palette-dominant-text), 0.1);
      color: rgba(color(palette-dominant-text), 1);

      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
        color: color(palette-dominant-text);
        box-shadow: inset 0 0 0 0.1em rgba(color(palette-dominant-text), 0.5);
      }
    }
  }

  &-sticky {
    @extend .selleradise_postCard--default;

    @include device(desktopAndTablet) {
      flex-direction: row;
      flex-basis: 66%;
      padding: 1rem;

      #{$prefix}__image {
        border-radius: var(--border-radius-base);
      }

      #{$prefix}__image,
      #{$prefix}__content {
        width: 40%;
        height: 100%;
      }

      #{$prefix}__content {
        padding: 1.5rem !important;
      }

      #{$prefix}__entry-title {
        @include font-size(h3);
      }

      #{$prefix}__excerpt {
        @include font-size(p);
      }
    }

    #{$prefix}__categories {
      margin: 1rem 0 0 0;
    }

    @include device(mobile) {
      #{$prefix}__content {
        order: 2;
      }
    }

    .selleradise-page--blog-has-sidebar & {
      flex-basis: 100%;
    }

    @include device(mobileAndTablet) {
      flex-basis: 100%;
    }
  }
}
