.selleradiseWidgets_Products {
  width: 100%;
  height: auto;
  padding: 2.5rem $page-padding 5rem $page-padding;
  position: relative;
  overflow-x: hidden;

  &__head {
    @extend .flex-between;
    align-items: first baseline;
    margin: 0 0 2.5rem 0;
  }

  &__title {
    margin: 0;
  }

  &__subtitle {
    @include font-size(h5);
    margin-top: 0.5rem;
    color: rgba(color(text-rgb), 0.7);
  }

  &__slider {
    .swiper-wrapper {
      padding-bottom: 2.5rem;
    }

    &-buttons {
      @extend .flex-end;
    }

    &-button {
      @extend .flex-center;
      background-color: transparent;
      color: rgba(color(text-rgb), 0.7);
      border: none;
      padding: 0.5rem;
      border-radius: 5em;
      transition: all $time easing(out-expo);

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }

      &:hover {
        background-color: rgba(color(text-rgb), 0.05);
      }

      &--right {
        margin-left: 0.5rem;
      }
    }
  }

  &__moreLink {
    @extend .selleradise_button--secondary;
    @include font-size(p);
    display: inline-flex;
    padding: 0.5em 0.5em 0.5em 1em;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      margin-left: 0.25rem;
    }
  }

  &__slider {
    .swiper-wrapper {
      @extend .inline-list;
    }
  }
}
