.selleradise_productCard--default {
  width: var(--width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--border-radius-base);
  background-color: color(background);
  color: color(text);
  box-shadow: 0 0 0 0.05em rgba(color(text-rgb), 0.1);
  transition: all 400ms easing(out-expo);
  padding: 0.5rem;

  &:hover {
    box-shadow: 0 0 0 0.05rem rgba(color(text-rgb), 0.3);
  }

  a {
    outline: none;
  }

  p {
    font-size: inherit;
  }

  .selleradise_productCard__image-outer {
    width: 100%;
  }

  .selleradise_productCard__slider,
  .selleradise_productCard__image-single {
    border-radius: var(--border-radius-base);
  }

  .selleradise_productCard__slider .swiper-slide,
  .selleradise_productCard__image-single {
    height: calc((var(--width) - 1rem) * var(--product-image-ratio));
  }

  &.swiper-slide {
    max-width: var(--width);
  }

  span.selleradise_chip--onsale {
    top: 1rem;
    left: 1rem;
  }

  div.yith-wcwl-add-to-wishlist {
    a.add_to_wishlist,
    a:not(.delete_item):not(.add_to_wishlist),
    a.delete_item {
      top: 1rem;
      right: 1rem;
    }
  }

  div.selleradise_onsale--timer {
    margin: 1rem 0 0.5rem 0;
    background-color: rgba(color(text-rgb), 0.05);
    color: color(text);
    padding: 0.5em 1em;
    border-radius: 5em;
    text-align: center;
    justify-content: center;
  }

  &__content {
    @include font-size(p);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    padding: 1.5rem 1rem 1rem;
    position: relative;
  }

  ul.selleradise_productCard__categories {
    margin: 0.25rem 0.5em 0 0;
  }

  &__title {
    @include font-size(p);
    margin: 0;
    padding: 0;
    width: 60%;
    flex-grow: 1;
    line-height: 1.4;

    a {
      @include focus-outline;
      color: inherit;
      flex-grow: 1;

      &:hover,
      &:focus,
      &:active {
        color: color(main);
        text-decoration: underline;
      }
    }

    &-outer {
      @extend .flex-between;
      align-items: flex-start;
      width: 100%;
    }

    @include device(mobile) {
      @include font-size(h5);
    }
  }

  .selleradise_productRating--textual {
    @include font-size(small);
  }

  &__description {
    @include font-size(small);
    color: rgba(color(text-rgb), 0.7);
    margin: 0.5rem 0 0.5rem 0;
  }

  &__bottom {
    @extend .flex-between;
    width: 100%;
    padding-top: 1rem;
    margin-top: auto;

    .selleradise_button--primary,
    .selleradise_button--secondary {
      @include font-size(small);
      max-width: 75%;
    }
  }

  @include device(mobile) {
    --width: 90vw;

    &.swiper-slide {
      --width: calc(90vw - 5rem);
    }
  }
}
