.selleradise_productCard--list {
  @extend .flex-start;
  align-items: flex-start;
  width: 100%;
  border-radius: var(--border-radius-base);
  padding: 0.5rem;
  background-color: color(background);
  color: color(text);
  box-shadow: 0 0 0 0.05em rgba(color(text-rgb), 0.1);
  transition: all 400ms easing(out-expo);
  $prefix: &;

  &:hover {
    box-shadow: 0 0 0 0.05rem rgba(color(text-rgb), 0.3);
  }

  &.swiper-slide {
    margin: 0;
  }

  a {
    outline: none;
  }

  p {
    font-size: inherit;
  }

  .selleradise_productCard__image-outer {
    border-radius: var(--border-radius-base);
  }

  .selleradise_productCard__slider,
  .selleradise_productCard__slider .swiper-slide,
  .selleradise_productCard__image-single {
    width: calc(var(--width) * 0.35);
    height: calc((var(--width) * 0.35) * var(--product-image-ratio));
  }

  .selleradise_productRating--normal {
    @include font-size(small);
    margin-top: 0.5rem;
  }

  span.onsale--chip {
    @include font-size(x-small);
  }

  &__content {
    @include font-size(p);
    flex: 1;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-self: stretch;

    .selleradise_button--primary,
    .selleradise_button--secondary {
      @include font-size(small);
      margin-top: auto;
      margin-left: auto;
      max-width: 75%;
    }
  }

  &__title {
    @include font-size(p);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    width: 60%;
    flex-grow: 1;
    line-height: 1.4;

    a {
      @include focus-outline;
      color: inherit;
      flex-grow: 1;
    }

    &-outer {
      @extend .flex-between;
      align-items: flex-start;
      width: 100%;
    }

    &:hover {
      color: color(main);
      text-decoration: underline;
    }
  }

  &__foot {
    @extend .flex-between;
    padding-top: 1rem;
    margin-top: auto;
    width: 100%;
  }

  &__description {
    @include font-size(small);
    margin: 0.5rem 0 0 0;
    color: rgba(color(text-rgb), 0.7);
  }

  .yith-wcwl-add-to-wishlist {
    a.add_to_wishlist,
    a:not(.delete_item):not(.add_to_wishlist),
    a.delete_item {
      left: 1rem;
      top: 1rem !important;
      right: auto !important;
    }
  }

  @include device(mobile) {
    &__title {
      @include font-size(small);
    }

    .selleradise_productRating--textual {
      margin-top: 0.5em;
    }

    &__price {
      @include font-size(small);
    }

    &__foot {
      padding-top: 1rem;
    }

    &__content {
      .selleradise_productCard__categories {
        a {
          @include font-size(x-small);
        }
      }

      .selleradise_button--primary,
      .selleradise_button--secondary {
        @include font-size(x-small);
      }
    }
  }
}
