.selleradise_productCard--minimal {
  border-radius: calc(var(--border-radius-base));
  width: var(--width);
  background-color: transparent;

  .selleradise_productCard__image-outer {
    border-radius: calc(var(--border-radius-base));

    [data-focus-source="key"] &:focus {
      img {
        box-shadow: 0 0 0 0.2em color(main);
      }
    }
  }

  .selleradise_productCard__slider .swiper-slide,
  .selleradise_productCard__image-single {
    height: calc(var(--width) * var(--product-image-ratio));
  }

  &__content {
    @extend .flex-center;
    align-items: flex-start;
    width: 100%;
    color: color(text);
    padding: 1rem 0.5rem 0 0.5rem;
    position: relative;
    font-size: 1rem;
    flex-grow: 1;

    .buttonIcon--secondary,
    .buttonIcon--primary {
      padding: 0.75rem;

      svg {
        width: 1.2em;
        height: 1.2em;
      }
    }
  }

  &__info {
    width: 50%;
    flex-grow: 1;
    padding-right: 0.5rem;

    &Title {
      @include font-size(p);
      color: var(--text-color);
      margin: 0;
      padding: 0;

      a {
        @extend .focus-outline;
        color: inherit;

        &:hover,
        &:focus,
        &:active {
          color: color(main);
        }
      }
    }

    &Price {
      @include font-size(small);
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      color: rgba(color(text-rgb), 0.7);
      font-weight: font("primary_bolder", "font-weight");

      del {
        order: 2;
        opacity: rgba(color(text-rgb), 0.5);
        margin-left: 0.25rem;
      }

      ins {
        order: 1;
        text-decoration: none;
      }
    }
  }

  @include device(mobile) {
    --width: 90vw;

    &.swiper-slide {
      --width: calc(90vw - 5rem);
    }
  }
}
