.selleradise_productCard--simple {
  border-radius: var(--border-radius-base);
  width: var(--width);
  padding: 0.75rem;
  background-color: color(background);
  box-shadow: 0 0 0 0.05em rgba(color(text-rgb), 0.1);
  transition: all 400ms easing(out-expo);

  &:hover {
    box-shadow: 0 0 0 0.05rem rgba(color(text-rgb), 0.3);
  }

  a {
    outline: none;
  }

  .selleradise_productCard__image-outer {
    border-radius: var(--border-radius-base);

    [data-focus-source="key"] &:focus {
      box-shadow: inset 0 0 0 0.2em color(main);
    }
  }

  .selleradise_productCard__slider .swiper-slide,
  .selleradise_productCard__image-single {
    height: calc((var(--width) - (0.75rem * 2)) * var(--product-image-ratio));
  }

  &__head {
    @include font-size(p);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    background-color: color(background);
    color: color(text);
    padding: 0.5rem 1rem 1rem 1rem;
    position: relative;

    ul.selleradise_productCard__categories {
      margin: 0.25rem 0.5em 0 0;
    }
  }

  &__title {
    @include font-size(p);
    margin: 0;
    padding: 0;

    a {
      @include focus-outline;
      color: inherit;

      &:hover,
      &:focus,
      &:active {
        color: color(main);
      }
    }
  }

  &__bottom {
    @extend .flex-between;
    width: 100%;
    background-color: color(background);
    color: color(text);
    padding: 1rem 0 0 1rem;
    position: relative;

    .buttonIcon--secondary,
    .buttonIcon--primary {
      padding: 0.75rem;

      svg {
        width: 1.2em;
        height: 1.2em;
      }
    }
  }

  @include device(mobile) {
    width: 90vw;

    &.swiper-slide {
      --width: calc(90vw - 5rem);
    }
  }
}
